header{
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header>img{
  width: 8em;
  height: 8em;
  border-radius: 20%;
  border: 2px solid grey;
  box-shadow: rgb(28 32 93 / 24%) 0% 2% 8% 0%;
}
main>div{
    text-align:justify;
    margin: 0 20%;
    font-size: 1.3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main>div>h1{
    text-align: center;
    border-bottom: 2px solid grey;
    padding: 3%;
}
main>div>ul>li{
    padding-bottom: 1em;
}
header{
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header>img{
  width: 8em;
  height: 8em;
  border-radius: 20%;
  border: 2px solid grey;
  box-shadow: rgb(28 32 93 / 24%) 0% 2% 8% 0%;
}
main>div{
    text-align:justify;
    margin: 0 20%;
    font-size: 1.3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main>div>h1{
    text-align: center;
    border-bottom: 2px solid grey;
    padding: 3%;
}
main>div>ul>li{
    padding-bottom: 1em;
}

}
