body{
  background-color: white;
  color: black;
}
header>nav{
  border: 1px solid rgb(27, 31, 19);
  background: linear-gradient(to right, darkgrey, white);
}
header>nav>ul{
  text-align: right;
  margin: 5px;
}
header>nav>ul>li{
  border: 2px solid black;
  list-style: none;
  display: inline;
}

a{
  text-decoration: none;
}
header>div{
  text-align: center;
}
header>div>img{
  width: 8em;
  height: 8em;
  border-radius: 20%;
  border: 2px solid grey;
  box-shadow: rgb(28 32 93 / 24%) 0% 2% 8% 0%;
  margin-top: 2em;
}

main>div{
    text-align:justify;
    margin: 0 20%;
    font-size: 1.3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main>div>h1{
    text-align: center;
    border-bottom: 2px solid grey;
    padding: 3%;
}
main>div>ul>li{
    padding-bottom: 1em;
}
main>div{
    text-align:justify;
    margin: 0 20%;
    font-size: 1.3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main>div>h1{
    text-align: center;
    border-bottom: 2px solid grey;
    padding: 3%;
}
main>div>ul>li{
    padding-bottom: 1em;
}
main>div>h4{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: right;
}
