body {
  background-color: bisque;
}

header {
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
}

header > h1 {
  color: blue;
}

header > h2 {
  color: green;
}

.libros {
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.libros a {
  text-decoration: none;
}
.libros h3 {
  font-size: 2em;
}
.libros img {
  position: relative;
  width: 100px;
  border: 1px solid #000000;
  align-items: center;
}
